body {
	font-family: Arial, sans-serif;
	margin: auto;
	width: 90%;
	max-width: 1000px;
	text-align: justify;
	background-color: #051622;
	color: #1BA098;
}


header {
	background-image: url('maglya.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 170px; 
	width: 100%;
}

h1{
	color: #DEB992;
}

img {
	border: 2px solid #DEB992;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 15px;
	width: 20em; 
	background-color: #051622;
	min-width: 300py;
}

.balra {
	float: left;
}

@media screen and (max-width:600px) {
  .balra, .jobbra {
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.jobbra{
	float: right;
}

.navbar{
	margin-left: 100px;
	margin-right: 120px;
}



.container-fluid{
	max-block-size: 200px;
}